@import "../styles/colours";
@import "../styles/fonts";
@import "../styles/margins";


* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: $left_margin;
    margin-right: $right_margin;
}