@import "../styles/colours";
@import "../styles/_fonts.scss";
@import "../styles/margins";

.about_us_main{
    display: flex;
    flex-direction: column;
    margin-left: $left_margin;
    margin-right: $right_margin;
}

.image_about_us {
    max-width: 500px;
    object-fit: cover; 
    margin: 0 auto;
}

@media screen  and (max-width: 800px) {
    .about_us_main {
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}